@import "../../../styles/variables.css";

.message {
  background: $message-color;
  color: #fff;
  padding: 16px;
  align-self: flex-end;
  margin-bottom: 16px;
  border-radius: 4px;
  word-break:break-all;
}

.message.bot {
  background: $bot-color;
  color: $text-color;
  /*border: 1px solid $border-color;*/
  align-self: flex-start;
}
